*, header, div, span{
   font-family: calibri,"Trebuchet MS", Helvetica, sans-serif;
}

h1 h2 h3 {
   color: #333;
}

body {
   background-color: #f4f4f4;
}

#history {
    background-color: rgba(50, 50, 50, 0.7);
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    /*max-width: 500px;
    min-width: 300px;*/
    height: 100%;
    overflow-y: scroll;

}

#stats {
    background-color: rgba(100, 100, 100, 0.2);
    position: absolute;
    bottom: 0;
    left:0;
    width: 65%;
    height: 25px;
    /*max-height: 100px;
    min-height: 50px;*/
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 5px 5px 5px 10px;
}

li {
    font-size: 12px;
    text-decoration: none;
    color: #eee;
    display: inline-block;
    margin-bottom: 5px;
    padding-right: 10px;
}
